__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache/
.pytest_cache/
.history
.DS_Store
Internship_artifacts/
backend/__pycache__/
backend/utils/__pycache__/
backend/uploads/*
!backend/models/
*.pt
!yolov8n.pt